footer{
    display: flex;
    justify-content: center;
    background-color: rgb(28, 28, 28);
    color: white;
}
footer>div{
    display: flex;
    flex-direction: column;
}
footer>div li{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}