:root{
    --transition-duration: 0.5s;
}

nav{
    /* background-color: whitesmoke; */
    position: fixed;
    top: 10px;
    left: 50%;
    width: calc( 100% - 20px);
    height: 100px;
    transform: translateX(-50%);
    box-shadow: 0 5px 20px rgb(215, 215, 215);
    border-radius: 50px;
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    margin: 0 70px;
}

nav li{
    float: left;
    list-style: none;
    display: flex;
    margin: 0 15px;
}

img#profile{
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    margin-left: 10px
}

/* nav li a{
}    */

nav li a button{
    appearance: none;
    margin: 0;
    padding: 2em;
    font-size: 2em; 
    border: none;
    border-radius: 4px;
    background-color: white;
    box-shadow: none;
    transition: background-color 0.5s,
    box-shadow 0.5s;
    cursor: pointer;
}

nav li a button:hover{
    background-color: rgb(243, 243, 243);
    box-shadow: 0 3px 5px rgb(207, 207, 207);
    transition: background-color 0.5s,
    box-shadow 0.5s;
}
nav li a button:active{
    background-color: rgb(221, 221, 221);
    box-shadow: 0 3px 8px rgb(191, 191, 191);
    transition: background-color 0.5s,
    box-shadow 0.5s;
}